* {
    margin: 0;
}

body {
    width: 100vw;
    background-color: $mainColor;
}

.wrapper {
    margin: 0 auto;
    width: 90vw;
    max-width: 1024px;
    min-height: 100vh;
    background-color: $mainColor;
}