* {
    margin: 0;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: $mainColor;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 90vw;
    height: 90vw;
    max-height: 90vh;
    max-width: 90vh;
    background-color: $mainColor;
}